body{
   background-color: greenyellow;
   background-image: url("gitb "); 
   background-repeat: repeat;
   background-size:2%; ;
}

.miHistoria{
    position: relative;
    background-color:black  ;
}